/.devcontainer
/.vscode
/README.md
/build
hbs_rmt_serial_example/.vscode/
hbs_rmt_serial_example/build
hbs_rmt_serial_example/sdkconfig
hbs_rmt_serial_example/sdkconfig.old
hbs_rmt_serial_example/hbs_rmt_serial_example.code-workspace
